<%layout("/layouts/boilerplate")-%>
<body>
  <div class="row">
    <div class="col-8 offset-2">

  <h3 >Create a New Listing</h3>
  <form method="POST" action="/listings">
    <div class="mb-3">
      <label for="title" class="form-label">Enter Title</label>
      <input
        type="text"
        placeholder="enter title"
        name="listing[title]"
        class="form-control"
      />
    </div>
<div class="mb-3">
    <label for="Description" class="form-label">Description</label><textarea
      name="listing[description]"
      id="description"
      type="text"
   class="form-control" ></textarea></div>
    
<div class="mb-3">
  <label for="image" class="form-label">Image link</label>
     <input
      type="text"
      placeholder="enter image URL/Link"
      name="listing[image]"
      class="form-control"
    />
</div>
   <div class="row">
    <div class="mb-3  col-md-4">  <label for="price" class="form-label">Price</label>
    <input type="number" placeholder="enter price" name="listing[price]" class="form-control"/></div>
    
   <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input
      type="text"
      name="listing[country]"
      id="country"
      placeholder="enter country"
      class="form-control"
    />
   </div>
   </div>
   <div class="mb-3"><label for="location" class="form-label">Location</label>
 <input
      type="text"
      name="listing[location]"
      id="location"
      placeholder="enter location"
      class="form-control"
    /></div>
   
    <br /><br />
    <button class="btn btn-dark add-btn mt-3">ADD</button>
    <br><br>
  </form>
  </div>
  </div>
</body>
